
@model IEnumerable<Dieting_Do.Models.Standard_Data>
@{
    Layout = "_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Dieting.Do- Standard Animal Food Requirement Data</title>
</head>
<body>
    <div class="jumbotron">
        <h1 class="text-center">Standard Animal Food Requirement Data</h1>
        <table class="table table-bordered table-hover">
            <thead>
                <th scope="col">ID</th>
                <th scope="col">Species</th>
                <th scope="col">Standard_BMI</th>
                <th scope="col">Protein</th>
                <th scope="col">Carbs</th>
                <th scope="col">Fat</th>
                <th scope="col">Vitamin</th>
                <th scope="col">Fibre</th>
                <th scope="col">Update</th>
                <th scope="col">Delete</th>
            <thead>
            <tbody>
                <tr class="row">
                    @foreach (var s in Model)
                    {
                        <td>@s.DataId</td>
                        <td>@s.SpeciesName</td>
                        <td>@s.St_SpeciesBMI</td>
                        <td>@s.St_Protein</td>
                        <td>@s.St_Carbs</td>
                        <td>@s.St_Fat</td>
                        <td>@s.St_Vitamin</td>
                        <td>@s.St_Fibre</td>
                        <td class="btn btn-primary" href="Views/Standard_Data/UpdateStandard">Update</td>
                        <td class="btn btn-warning" href="Views/Standard_Data/DeleteStandard">Delete</td>
                    }
                </tr>
            </tbody>
        </table>  
    </div>
</body>
</html>
