
@model IEnumerable<Dieting_Do.Models.ShelterDto>
@{
    Layout = "_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Dieting.Do- Our Experts</title>
</head>
<body>
    <div class="jumbotron">
        <h1 class="text-center">Find a vet near you</h1>
        <table class="table table-bordered table-hover">
            <thead>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Owner</th>
            <th scope="col">Address</th>
            <th scope="col">Contact</th>
            <th scope="col">Update</th>
            <th scope="col">Delete</th>
            <thead>
            <tbody>
                <tr class="row">
                    @foreach (var s in Model)
                    {
                        <td>@s.ShelterID</td>
                        <td>@s.ShelterName </td>
                        <td>@s.OwnerName</td>
                        <td>@s.Location</td>
                        <td>@s.Phone</td>
                        <td class="btn btn-primary" href="Views/Standard_Data/UpdateStandard">Update</td>
                        <td class="btn btn-warning" href="Views/Standard_Data/DeleteStandard">Delete</td>
                    }
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
